.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap:6px;
    justify-content: center;
    margin-bottom: 3rem;
}

.image-container > div {
    min-width: 20%;
    box-sizing: border-box
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}