@import "tailwindcss";


@theme {
  --color-primary: #FFFFFF;
  --color-primary-darken: #F4F4F4;
  --color-primary-hover: #ADADAD;
  --color-primary-title: #292929;
  --color-primary-paragraph: #595959;
  --color-secondary: #4160DF;
  --color-secondary-hover: #b2c1ff;
  --color-secondary-title: #FFFFFF;
  --color-secondary-paragraph: #FFFFFF;
  --color-tag: #F1F5FF;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}