@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-primary-darken: #f4f4f4;
  --color-primary-hover: #adadad;
  --color-primary-title: #292929;
  --color-primary-paragraph: #595959;
  --color-secondary: #4160df;
  --color-secondary-hover: #b2c1ff;
  --color-secondary-title: #ffffff;
  --color-secondary-paragraph: #ffffff;
  --color-tag: #f1f5ff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
